/chrome-win
settings.py
test.py
/.idea
/__pycache__
test1.py
log.txt
log_price_tb.txt
qrcode.png
/screenshot
tb_order_detail_spider.csv
tb_order_spider.csv
spider_1.py
/json
/test
/test/json
/reports
/venv
headless-test-result.png
/userdata
/log
*.log
/data